.cover {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/cover.jpg);
  background-size: cover;
  background-position: center;
}
.cover__btn {
  padding: 1em 2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: transparent;
  border: 1px solid transparent; /* Initially transparent */
  background-color: transparent; /* Initially transparent */
  animation: modalButtonFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  transition: all 0.3s ease;
}
@media screen and (min-width: 1000px) {
  .cover__btn:hover {
    cursor: pointer;
  }
}
.cover__btn-container {
  margin: 2em;
}
.cover__btn-container:active {
  transform: scale(1.1);
}
@media screen and (min-width: 1000px) {
  .cover__btn-container:hover {
    transform: scale(1.1);
  }
}
.cover__modal {
  transform: scale(1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0.5em 1.5em;
  background-color: transparent;
  animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@media screen and (min-width: 400px) {
  .cover__modal {
    padding: 0.5em 3em;
  }
}
.cover__modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.cover__modal-svg rect {
  fill: none;
  stroke: #252422;
  stroke-opacity: 0.2;
  stroke-width: 2px;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: sketchIn 2s forwards;
}
.cover__heading, .cover__subheading {
  color: #ffffff;
  opacity: 0;
  position: relative;
  animation: modalTextFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes sketchIn {
  0% {
    stroke-dashoffset: 2000; /* Match stroke-dasharray value */
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(37, 36, 34, 0.5);
  }
}
@keyframes modalTextFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes modalButtonFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    color: transparent;
    border: 1px solid transparent;
    background-color: transparent;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    color: #252422;
    border: 1px solid #252422;
    background-color: #ffffff;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  width: 99.1vw;
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
}
.navbar__logo {
  display: flex;
}
.navbar__links {
  display: none;
}
@media screen and (min-width: 1000px) {
  .navbar__links {
    display: flex;
  }
}
.navbar__link {
  display: flex;
  align-items: center;
  padding: 0 2em;
  text-decoration: none;
  color: rgba(37, 36, 34, 0.5);
}
.navbar__link:active {
  color: black;
}
.navbar__link:hover {
  color: black;
  cursor: pointer;
}

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 8vh;
}
.hamburger:active {
  background-color: #252422;
}
.hamburger__icon {
  height: 50%;
  color: #252422;
  position: relative;
}
.hamburger__icon:active {
  filter: invert(100%);
}
.hamburger__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  height: inherit;
  width: inherit;
  color: #ffffff;
}
.hamburger__link:active {
  transform: scale(1.2);
}
.hamburger__modal {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 8vh;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #252422;
}
@media screen and (min-width: 1000px) {
  .hamburger {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.about, .skills, .projects, .contact {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1000px) {
  .about__info {
    width: 60%;
  }
}
.about__para {
  max-width: 85%;
}
.about__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1000px) {
  .about__img {
    width: 40%;
  }
}
.about__img img {
  height: 300px;
}
@media screen and (min-width: 400px) {
  .about__img img {
    height: 400px;
  }
}
@media screen and (min-width: 1000px) {
  .about__img img {
    height: 500px;
  }
}
@media screen and (min-width: 1000px) {
  .about {
    flex-direction: row;
  }
}

.skills__icon, .contact__icon {
  display: flex;
}
.skills__icon:hover, .contact__icon:hover {
  cursor: pointer;
}

.skills__img, .contact__img {
  height: 50px;
  width: 50px;
  border: 1px solid #252422;
  background-color: #ffffff;
  padding: 1em;
}
.skills__img:hover, .contact__img:hover {
  filter: invert(100%);
}

.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 350px;
  column-gap: 0.1em;
  row-gap: 0.3em;
}

.contact {
  position: relative;
}
.contact__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 10px;
  color: rgba(37, 36, 34, 0.5);
}

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}

/*# sourceMappingURL=style.css.map */
