@use "../partials/mixins" as m;
@use "../partials/variables" as v;
@use "../partials/queries" as q;

.cover {
    @include m.full-screen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/cover.jpg);
    background-size: cover;
    background-position: center;
    

    // @include q.mobile {
    //     background-image: url(../../assets/mobile-index.jpeg);
    // }

    &__btn {
        padding: 1em 2em;
        font-family: v.$text-font;
        color: transparent;
        // border: 1px solid v.$dark-color;
        // background-color: v.$white-color;
        border: 1px solid transparent; /* Initially transparent */
        background-color: transparent; /* Initially transparent */
        animation: modalButtonFadeIn .5s 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        animation-fill-mode: forwards;
        transition: all 0.3s ease;

        &:hover {
            @include m.link-hover;
        }
    }

    &__btn-container {
        margin: 2em;
    }

    &__modal {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: auto;
        padding: 0.5em 3em;
        background-color:transparent;
        animation: modalFadeIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        // background-color: rgb(v.$dark-color, 0.5);
        // color: v.$white-color;

        // &--border {
        //     border: 1px solid transparent;
        //     border-image: linear-gradient(90deg, v.$dark-color, v.$dark-color) 1; /* Black border for the sketch effect */
        //     animation: sketchIn 2s ease-out forwards; /* Animation */
        // }
    }

    &__heading, &__subheading {
        color: v.$white-color;
        opacity:0;
        position:relative;
        animation: modalTextFadeIn .5s 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    }
}

// @keyframes sketchIn {
// 	0% {
// 		stroke-dashoffset: 778;
// 	}
// 	100% {
// 		stroke-dashoffset: 0;
// 	}
// }

@keyframes modalFadeIn {
    0% {
      background-color:transparent;
    }
    100% {
      background-color: rgb(v.$dark-color, 0.5);
    }
}

@keyframes modalTextFadeIn {
    0% {
      opacity:0;
      top:-20px;
    }
    100% {
      opacity:1;
      top:0;
    }
}

@keyframes modalButtonFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        color: transparent;
        border: 1px solid transparent;
        background-color: transparent;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        color: v.$dark-color;
        border: 1px solid v.$dark-color;
        background-color: v.$white-color;
    }
}