@use "../partials/mixins" as m;
@use "../partials/variables" as v;
@use "../partials/queries" as q;
 
.navbar {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    width: 100%;
    position: fixed;
    background-color: v.$white-color;

    &__logo, &__links {
        display: flex;
    }
        
    &__link {
        @include m.navbar-link-style;

        &:hover {
            @include m.link-hover;
        }
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &__about, &__skills, &__projects, &__contact {
        @include m.full-screen;
        display: flex;

        @include q.mobile {
            flex-wrap: wrap;
        }
    }

    &__about {
        justify-content: space-around;

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 3em;

            // @include q.mobile {
            //     padding: 3em;
            // }
        }

        &__img {
            display: flex;
            justify-content: center;
            align-items: center;
            // height: 600px;
            padding: 3em;
            
            // @include q.mobile {
            //     height: 500px;
            // }
            

            img {
                height: 600px;

                @include q.mobile {
                    height: 500px;
                }
            }
        }
    }

    &__skills, &__projects, &__contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__container {
            display: flex;
            justify-content: space-around;
        }

        &__icon {
            display: flex;
            padding: 0;
            margin: 0.5em;
            &:hover {
                background-color: v.$medium-color;
            }
        }

        &__img {
            height: 50px;
            width: 50px;
            border: 1px solid v.$dark-color;
            background-color: v.$white-color;
            padding: 1em;

            &:hover {
                filter: invert(100%);
            }
        }
    }

    // &__projects {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;

    //     &__container {
    //         display: flex;
    //         overscroll-behavior: contain;
    //         scroll-snap-type: x;
            
    //     }
    // }
}

.content__projects__modal {
    display: none;
    // display: flex;
    justify-content: center;
    height: 50%;
    width: 70%;
    position: absolute;
    padding: 2em;

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        background-color: v.$dark-color;
        color: v.$white-color;

        a {
            color: v.$white-color;
        }

        #closeProject {
            margin: 2em;
        }
    }

    &__img {
        display: flex;
        justify-content: center;
    }
}