@use "../partials/mixins" as m;
@use "../partials/variables" as v;
@use "../partials/queries" as q;
 
.navbar {
    display: none;
    justify-content: space-between;
    height: 8vh;
    width: 100vw;
    position: fixed;
    background-color: v.$white-color;

    @include q.desktop {
        display: flex;
    }

    &__logo {
        display: flex;
    }

    &__links {
        display: none;

        @include q.desktop {
            display: flex;
        }
    }
        
    &__link {
        @include m.navbar-link-style;

        &:active {
            background-color: v.$dark-color;
            color: v.$white-color;
        }

        &:hover {
            @include m.link-hover;
        }
    }
}

.navbar__mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13vh;
    width: 100vw;
    position: fixed;
    background-color: v.$white-color;

    @include q.desktop {
        display: none;
    }

    &__logo {
        display: flex;
        height: 7vh;
    }

    &__links {
        display: flex;
        justify-content: space-around;
        height: 6vh;
        width: 100vw;
    }
        
    &__link {
        @include m.navbar-mobile-link-style;

        &:active {
            transform: scale(1.1);
            font-weight: bold;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;

    &__about, &__skills, &__projects, &__contact {
        @include m.full-screen;
        display: flex;
    }

    &__heading {
        text-align: center;
    }

    &__para {
        padding-top: 5em;
    }

    &__about {
        justify-content: space-around;
        flex-direction: column;

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 3em;
        }
        

        &__img {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 3em;
            

            img {
                height: 300px;

                @include q.tablet {
                    height: 400px;
                }

                @include q.desktop {
                    height: 500px;
                }
            }
        }

        @include q.desktop {
            flex-direction: row;
        }
    }

    &__skills, &__projects, &__contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__container {
            display: flex;
            justify-content: space-around;
        }

        &__icon {
            display: flex;
            padding: 0;
            margin: 0.5em;
            &:hover {
                background-color: v.$medium-color;
                cursor: pointer;
            }
        }

        &__img {
            height: 50px;
            width: 50px;
            border: 1px solid v.$dark-color;
            background-color: v.$white-color;
            padding: 1em;

            &:hover {
                filter: invert(100%);
            }
        }
    }
}

footer {
    display: flex;
    text-align: center;
    color: v.$dark-color-seethrough;
}


.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel__wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel__item {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center;     /* Center items horizontally */
    text-align: center;     
    box-sizing: border-box;

    p {
        max-width: 75%;
    }
}

.carousel__item img {
    width: 100%;
    display: block;

    @include q.tablet {
        width: 20%;
    }

    @include q.desktop {
        width: 20%;
    }
}

.carousel__control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel__control--prev {
    left: 10px;
}

.carousel__control--next {
    right: 10px;
}