@use "./variables" as v;

@mixin full-screen {
    height: 100vh;
    width: 100%;
}

@mixin navbar-link-hover {
    color: v.$black-color;
    cursor: pointer;
}

@mixin navbar-link-style {
    display: flex;
    align-items: center;
    padding: 0 2em;
    text-decoration: none;
    color: v.$dark-color-seethrough;
}

@mixin hamburger-link-style {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: v.$black-color;
}