<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>My Portfolio</title>
    </head>

    <body class="bg-zinc-900 text-zinc-100">
        <header class="mb-8">
            <nav class="flex gap-4 text-sm">
                <a href={Astro.resolve('/')} class="hover:underline">Home</a>
                <a href={Astro.resolve('/projects')} class="hover:underline">Projects</a>
            </nav>
        </header>

        <main class="max-w-3xl mx-auto p-6">
            <slot />
        </main>
    </body>
</html>
