<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Portfolio</title>
  </head>
  <body class="bg-zinc-900 text-zinc-100">
    <main class="max-w-3xl mx-auto p-6">
      <slot />
    </main>
  </body>
</html>
