---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link rel="stylesheet" href={`${Astro.site}/src/styles/global.css`} />
  </head>

  <body>
    <header>
      <nav>
        <a href={Astro.site}>Home</a> | 
        <a href={`${Astro.site}/projects`}>Projects</a>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      © 2026 M
    </footer>
  </body>
</html>